<div class="irc-link">
  <div class="post-body">
    {{{content}}}
  </div>
  <div class="postMessage">
    {{user}}: {{caption}}
  </div>
  <div class="when">
    Posted on {{date}} at {{time}}
  </div>
</div>
